<!-- Generated template for the ViettelProComponent component -->
<div>
  <ion-row>
    <ion-col col-sm-6>
      <div class="f-table-container">
          <div class="f-header-table">Hòa mạng mới</div>
          <table width="100%">
            <tr>
              <td>
                <div class="f-name">
                    CA-PRO1
                </div>
              </td>
              <td>
                <div class="f-name">
                    CA-PRO2
                </div>
              </td>
              <td>
                <div class="f-name">
                    CA-PRO3
                </div>
              </td>
            </tr>
          </table>
      </div>
    </ion-col>
  </ion-row>

</div>
